/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/views/templates
/resources/views/public/themes/alibaba
/resources/views/public/themes/hotel
/config/geoip/GeoLite2-City.mmdb
#.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
